@model TallerFedexMotos.Models.MotoEnReparacion

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>¿Estás seguro de que quieres eliminar esto?</h3>
<div>
    <h4>Moto en reparacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.moto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.moto.modelo.nombreModelo)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.trabajoRealizado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.trabajoRealizado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index">Atras</a>
    </form>
</div>
