@model TallerFedexMotos.Models.Marca

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Marca</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombreMarca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombreMarca)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Cancelar</a>
</div>
