@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-danger">FEDEX MOTOS</h1>
    <hr />
    <br />
    <p class="font-weight-bold">
        FedexMotos es una empresa que cuenta con más de 10 años de experiencia en el Mercado.
        Hoy en día nos dedicamos exclusivamente a la reparacion, compra y venta de motocicletas.
        Contamos con el personal capacitado para el mantenimiento de tu moto, como así también a brindarte las respuestas a todas tus inquietudes.
        Nuestra meta es ser el taller líder en la venta de productos y servicios, sobrepasando las expectativas de nuestros clientes,
        logrando su fidelización a través del conocimiento de sus necesidades y de la búsqueda continua de la mejor forma de satisfacerlos día a día.
    </p>
    <br />
    <br />
    <h4 class="p-3 mb-2 bg-danger text-white"> MISIÓN</h4>
    <p class="font-weight-bold">
        En FedexMotos trabajamos para exceder las expectativas de nuestros clientes,
        para lograrlo, brindamos soluciones de calidad con un valor agregado en los diversos servicios que brindamos,
        a través de gente comprometida con los valores corporativos.
    </p>
    <br />
    <h4 class="p-3 mb-2 bg-danger text-white"> VISIÓN</h4>
    <p class="font-weight-bold">
        Ser la empresa líder en la zona ofreciendo productos, servicios y trato personalizados,
        manteniendo el reconocimiento de los clientes que son la razón de ser de nuestro esfuerzo.
    </p>
    <br />
    <h4 class="p-3 mb-2 bg-danger text-white"> VALORES</h4>
    <p class="font-weight-bold">
        Puntualidad, honestidad, lealtad, compromiso, dedicación, responsabilidad, ética, excelencia.
    </p>
</div>
