@{
    ViewData["Title"] = "Contactate con nosotros";
}
<h1>@ViewData["Title"]</h1>

<p class="text-danger font-weight-bold">Telefono:</p> <p class="font-weight-bold"> 3564-602079</p>
<p class="text-danger font-weight-bold">Direccion:</p> <p class="font-weight-bold"> Aristobulo del Valle 848</p>
                                                       <img style="max-width:250px" src=~/imagenes/fotos/ubicacion.jpeg alt=”ubicacion”>
<p class="text-danger font-weight-bold">Horario de atención:</p> <p class="font-weight-bold"> 8:30-12:30 15:00-19:30</p>
<p class="text-danger font-weight-bold">Sabados, domingos y feriados cerrado!</p>

